

.bg-box{
    
    background:url(../img/home.jpg) no-repeat center,
    url(../img/lamp.png) repeat-x top /3%,
    url(../img/donut2.png) repeat-y right /4%,
    url(../img/grass.png) repeat-x bottom /23%,
    url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru) repeat-y left /4%;
    background-color:green;
    height: 700px;
}


